web/WEB-INF/wsdl/localhost_8080/Loanbank1/RequestLoanService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.com/">

<xs:element name="RequestLoanService" type="tns:RequestLoanService"/>

<xs:element name="RequestLoanServiceResponse" type="tns:RequestLoanServiceResponse"/>

<xs:complexType name="RequestLoanService">
<xs:sequence>
<xs:element name="RequestLoanBean" type="tns:requestLoanBean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="requestLoanBean">
<xs:sequence>
<xs:element name="addresscurrent" type="xs:string" minOccurs="0"/>
<xs:element name="addressregistration" type="xs:string" minOccurs="0"/>
<xs:element name="addresssenddoc" type="xs:string" minOccurs="0"/>
<xs:element name="age" type="xs:int"/>
<xs:element name="banktype" type="xs:string" minOccurs="0"/>
<xs:element name="birthdate" type="xs:string" minOccurs="0"/>
<xs:element name="citizen_id" type="xs:string" minOccurs="0"/>
<xs:element name="copy_bankaccount" type="xs:string" minOccurs="0"/>
<xs:element name="copy_bankaccountbyte" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="copy_rename" type="xs:string" minOccurs="0"/>
<xs:element name="copy_renamebyte" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="copydocumenthome" type="xs:string" minOccurs="0"/>
<xs:element name="copydocumenthomebyte" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="copyidcard" type="xs:string" minOccurs="0"/>
<xs:element name="copyidcardbyte" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="copylicenses" type="xs:string" minOccurs="0"/>
<xs:element name="copylicensesbyte" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="copymarriage" type="xs:string" minOccurs="0"/>
<xs:element name="copymarriagebyte" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="createby" type="xs:string" minOccurs="0"/>
<xs:element name="created" type="xs:string" minOccurs="0"/>
<xs:element name="creditloan" type="xs:double" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="hometype" type="xs:string" minOccurs="0"/>
<xs:element name="jobtype" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="lncome_per_month" type="xs:int"/>
<xs:element name="loan_id" type="xs:int"/>
<xs:element name="loanreq_id" type="xs:int"/>
<xs:element name="loanstatustype" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
<xs:element name="nationality" type="xs:string" minOccurs="0"/>
<xs:element name="netprofit" type="xs:double" minOccurs="0"/>
<xs:element name="periodloan" type="xs:double" minOccurs="0"/>
<xs:element name="salary_slip" type="xs:string" minOccurs="0"/>
<xs:element name="salary_slipbyte" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="statustype" type="xs:string" minOccurs="0"/>
<xs:element name="title_type" type="xs:string" minOccurs="0"/>
<xs:element name="todo" type="xs:string" minOccurs="0"/>
<xs:element name="tradingprice" type="xs:double" minOccurs="0"/>
<xs:element name="updateby" type="xs:string" minOccurs="0"/>
<xs:element name="updated" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RequestLoanServiceResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>